:root{
  --cor-primaria: #D5FADD;
  --cor-secundaria: #2ECC71;
  --cor-destaque: #005253;
  --cor-disabled: rgba(0,82,83,0.3);
  }

@media screen and (max-width: 768px) {
  html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding:0;
    overflow-y: auto;
  }
}
#app {
  background-color: var(--cor-primaria);
  display: flex;
  place-items: center;
  font-weight: normal;
  min-height: 100vh;
  color: var(--cor-destaque);
}

.form-check-input{
  min-width: 0px;
}
.form-check-input:checked {
  background-color: var(--cor-destaque) !important; 
  border: 1px solid var(--cor-destaque) !important; 
}
.form-check-input:checked[type=radio] {
  --bs-form-check-bg-image: none;
}
.form-check-inline {
  display: inline-block;
  margin-right: 6px;
}

input{
  background-color: var(--cor-primaria) !important;
  color: var(--cor-destaque) !important;
  border: 1px solid var(--cor-destaque) !important;
  font-weight: 600 !important;
  min-width: 280px;
  max-width: 280px;
}

input:disabled{
  background-color: var(--cor-disabled) !important;
}
.btn{
  min-width: 100px;
}

.btn-primary{
  background-color: var(--cor-destaque);
  border: 1px solid var(--cor-destaque);
}
.btn-primary:hover{
  background-color: var(--cor-destaque);
  border: 3px solid var(--cor-destaque);
}

.btn-danger{
  color: var(--cor-destaque);
  background-color: var(--cor-primaria);
}

.container{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1{
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.table{
  vertical-align: middle;
  margin-bottom: 10px;
}
.table-container{
  padding: 15px;
  background-color: var(--cor-destaque);
  border-radius: 1rem;
}
.table th, .table td {
  background-color: var(--cor-destaque);
  color: white;
}
.table tr{
  border: 0px
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: var(--cor-disabled);
}

.table-bordered th{
  border-color: var(--cor-destaque);
}
.table-bordered td {
  border: 1px solid var(--cor-primaria);
}


@media screen and (max-width: 768px) {
  #app {
    min-height: 100vh;
    max-height: fit-content;
    min-width: 100vw;
    width: fit-content;
  }
  body{
    height: fit-content;
    min-height: calc(100vh - 40px);
  }
}